 /*Seccion de texto a encriptar o desencriptar*/
.seccion_1{
    display: flex;
    align-content: space-around;
    align-items: center;
    width: 500px;
    height: 750px;

}

.container__2{
    position: absolute;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    top: 2%;
}

.input__texto{
    width: 450px;
    height: 400px;
    padding: 2% 10px 0 4%;
    border: none;
    background-color: rgba(252, 226, 219, 0.6);
    font-family: 'Space Mono', monospace;
    border-radius: 24px;
    font-weight: 400;
    font-size: 19px;
    cursor: pointer;
    color: #372948;
    outline: none;
}

.input__texto::placeholder{
    color: #372948;
}

.advertencia{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
    top: 430px;

}
.foto__advertencia{
    position: absolute;
    padding: 1.2rem;
    width: 60px;
    transition: 1s all;

}
.foto__advertencia:hover{
    transform: scale(2);
}

.informacion{
    position: relative;
    left: 50px;
    padding: 2rem;
    text-align: center;
}


.contenedor__botones{
    position: absolute;
    align-content: space-evenly;
    align-items: center;
    top: 500px;
    margin: 15px 48px;

}

.btn__encriptar{
    width: 150px;
    height: 59px;
    margin: 5px 30px;
    border-radius: 24px;
    background-color: #a50580;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Russo One', sans-serif;
    border: none;
    cursor: pointer;
    transition: 1s all;
    
}
.btn__encriptar:hover{
    transform: scale(1.2);
}

.btn__desencriptar{
    width: 150px;
    height: 59px;
    border-radius: 24px;
    background-color: #a50580;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Russo One', sans-serif;
    border: none;
    cursor: pointer;
    transition: 1s all;

}

.btn__desencriptar:hover{
    transform: scale(1.2);
}

